.content {
    @media screen and (min-width: 2000px) {
        &.main {
            max-width: 60%;
            margin: auto;
        }
    }
    &-item {
        &:last-child {
            padding-bottom: 80px;
        }
        // h3 {
        //     padding-top: 30px;
        //     padding-left: 30px;
        // }
        
        .grid-container {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: auto;
            // background-color: #2196F3;
            padding: 30px;
            margin-bottom: 40px;

            @media screen and (min-width: 1040px) {
                margin-bottom: 50px;
            }
        }
        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 30px;
            &:hover {
                .title {
                    background-color: $accentColor;
                }
                .content {
                    .text {
                        background-color: rgba(255, 255, 255, 0);
                    }
                }
            }
            .title {
                height: 50px;
                background-color: $secondaryColor;
                border-radius: 8px 10px 0 0;
                padding: 10px;
                padding-left: 15px;
                color: $secondaryTextColor;
                img {
                    max-height: 22px;
                    max-width: 30px;
                }
            }
            .content {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                border: 0px solid $black;
                box-shadow: -1px 7px 5px rgb(180, 180, 180);
                border-radius: 0 0 100px 10px;
                height: 125px;
                .text {
                    border-radius: 0 0 100px 10px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.5);
                    padding: 20px;
                }
            }
        }
        @media screen and (min-width: 1040px) {
            .grid-container {
                display: grid;
                grid-gap: 50px;
                grid-template-columns: 30% 30% 30%;
                justify-content: center;
                // background-color: #2196F3;
            }
            .grid-item {
                font-size: 30px;
            }
        }
    }
}