.main-nav {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: $secondaryColor;
    img {
        max-width: 40px;
        position: absolute;
        left: 15px;
        top: 10px;
    }
    .exit {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 22px;
    }
    ul {
        position: absolute;
        right: 12px;
        top: 21px;
        height: 100%;
        li {
            display: inline-block;
            padding: 2px;
            color: $secondaryTextColor
        }
    }
}