/*********************** C O N F I G *************************/

$primaryColor: white;
$secondaryColor: #004d9f;
$accentColor: #006bdc;

$primaryTextColor: black;
$secondaryTextColor: white;

$white: white;
$black: black;

/*************************************************************/
