/* style globale (pour le style globale qui ne bougera jamais : body, h1, p etc) */

body {
    font-family: Helvetica, sans-serif;
    color :$black;
    margin: 0;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    background-color: $gray;
    padding: 12px;
    font-weight: bold;
}

