@import url("resets/reset.css");
@import url("librairies/lib.css");
/* MODULES */
/* font face & cie */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

/* Fonctions (Mixins etc) */
@use "sass:list";
.content.theft {
  background-image: url("../../assets/img/theft.jpg");
}

.content.terrorism {
  background-image: url("../../assets/img/terrorism.jpg");
}

.content.rape {
  background-image: url("../../assets/img/rape.jpg");
}

/*********************** C O N F I G *************************/
/*************************************************************/
/* style globale (pour le style globale qui ne bougera jamais : body, h1, p etc) */
body {
  font-family: Helvetica, sans-serif;
  color: #2f2f2f;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  text-align: center;
  background-color: #e2e2e2;
  padding: 12px;
  font-weight: bold;
}

/* COMPOSANTES */
.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #004d9f;
}

.main-nav img {
  max-width: 40px;
  position: absolute;
  left: 15px;
  top: 10px;
}

.main-nav .exit {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
}

.main-nav ul {
  position: absolute;
  right: 12px;
  top: 21px;
  height: 100%;
}

.main-nav ul li {
  display: inline-block;
  padding: 2px;
  color: white;
}

@media screen and (min-width: 2000px) {
  .content.main {
    max-width: 60%;
    margin: auto;
  }
}

.content-item:last-child {
  padding-bottom: 80px;
}

.content-item .grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 30px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1040px) {
  .content-item .grid-container {
    margin-bottom: 50px;
  }
}

.content-item .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

.content-item .grid-item:hover .title {
  background-color: #006bdc;
}

.content-item .grid-item:hover .content .text {
  background-color: rgba(255, 255, 255, 0);
}

.content-item .grid-item .title {
  height: 50px;
  background-color: #004d9f;
  border-radius: 8px 10px 0 0;
  padding: 10px;
  padding-left: 15px;
  color: white;
}

.content-item .grid-item .title img {
  max-height: 22px;
  max-width: 30px;
}

.content-item .grid-item .content {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0px solid #2f2f2f;
  -webkit-box-shadow: -1px 7px 5px #b4b4b4;
          box-shadow: -1px 7px 5px #b4b4b4;
  border-radius: 0 0 100px 10px;
  height: 125px;
}

.content-item .grid-item .content .text {
  border-radius: 0 0 100px 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

@media screen and (min-width: 1040px) {
  .content-item .grid-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 50px;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-item .grid-item {
    font-size: 30px;
  }
}

footer {
  background-color: #004d9f;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

/* PAGES */
/*# sourceMappingURL=main.css.map */